* {
  margin: 0;
}

.form-container {
  height: 100vh;
  background-color: #0a192ff0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 15px 25px #020810;
  padding: 1rem;
  background-color: #0a192ff0;
}

input {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.name-input {
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  width: 20rem;
  border: none;
  color: aliceblue;
  border-bottom: 2px solid grey;
  background-color: #0a192ff0;
}

.name-input:hover {
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px #0a192f;
}

.name-input:focus {
  outline: none;
}

.email-input {
  font-size: 1.3rem;
  border: none;
  display: flex;
  width: 20rem;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
  border-bottom: 2px solid grey;
  background-color: #0a192ff0;
}

.email-input:hover {
  box-sizing: border-box;

  box-shadow: 3px 3px 3px 3px #0a192f;
}

.email-input:focus {
  outline: none;
}

.submit-btn {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  border: none;
  height: 2rem;
  color: aqua;
  background-color: #0a192ff0;
}

.submit-btn:hover {
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(18, 18, 18, 0.841);
  cursor: pointer;
  color: black;
  background-color: aqua;
  border-radius: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.product-img {
  width: 70%;
}

.link {
  text-decoration: none;
  border: none;
  color: white;
  padding-top: 3px;
}

.cart-container {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.cart {
  padding: 10px 0;
}

.sum {
  margin-left: 5rem;
}

.clear-btn {
  padding: 10px;
  border-radius: 1rem;
  margin-top: 5rem;
}

.navbar-btn {
  padding: 0.8rem;
  margin: 0 5rem;
  border-radius: 1rem;
}

.navbar-btn:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem;
}
